{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.tailwindcss.com"></script>

        <script scr="{% static 'js/tailwind-config.js' %}"></script>


        {% if extraContext.title %}
            <title>{{extraContext.Title}} | BRSC Best Luxury Cars</title>
        {% else %}
            <title>BRSC Best Luxury Cars</title>
        {% endif %}
        {% block extraHead %}{% endblock extraHead %}
    </head>

    <body>
        {%  include 'fragments/navbar.html' %}
        {% block mainContent %}{% endblock mainContent %}
        {% block extraJS %}{% endblock extraJS %}
    </body>
</html>
