{% load static %}

{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock extraHead %}

<nav class="navbar p-4 flex justify-between">
    <a href="{% url 'home' %}">
        <img src="{% static 'images/Group 1.png' %}" alt="Uma imagem com a logo da marca">
    </a>

    <div class="flex gap-3 items-center">
        <a class="border-b-2 bg-app-gray-400 {% if context.situation == 'new' %}border-b-black font-bold{% endif %}" id="new" href="{% url 'cars-list' %}?situation=new">
            BOOKS
        </a>
        <span class="mb-2">|</span>

        <a class="border-b-2 bg-app-gray-400 {% if context.situation == 'pre-made' %}border-b-black font-bold{% endif %}" id="pre-made" href="{% url 'cars-list' %}?situation=pre-made">
            AUTHORS
        </a>
        <span class="mb-2">|</span>

        <a class="border-b-2 bg-app-gray-400 {% if context.situation == 'promotional' %}border-b-black font-bold{% endif %}" id="promotional" href="{% url 'cars-list' %}?situation=promotional">
            PROMOTIONAL
        </a>
        <span class="mb-2">|</span>

        <a class="border-b-2 bg-app-gray-400 {% if context.situation == 'contact' %}border-b-black font-bold{% endif %}" id="contact" href="{% url 'cars-list' %}?situation=contact">
            CONTACT
        </a>
        <span class="mb-2">|</span>

    </div> 

    <div class="flex gap-2 items-center">
        <i class="bi bi-instagram text-blue-500"></i>
        <i class="bi bi-facebook text-blue-500"></i>
        <i class="bi bi-linkedin text-blue-500"></i>
        <i class="bi bi-whatsapp text-blue-500"></i>
    </div>
</nav>
